<% form_tag(data_center_search_path) do %>
  <h2>Enter Search Criteria</h2>
  <%= text_field_tag('city', params[:city], :alt => 'City', :class => 'replace text') %>
  <%= text_field_tag('state', params[:state], :alt => 'State', :class => 'replace tiny text') %>
  <%= text_field_tag('zip', params[:zip], :alt => 'Zip', :class => 'replace small text') %>
  <%= button('Search', :class => 'small') %>
<% end %>