#submenu {
  background-image:url(../images/background-menu-item.png);
}

#submenu a {
  border-left-color:#2b547b;
}

#submenu a.active, #submenu a:hover {
  background-image:url(../images/background-submenu.gif);
}

#carousel {
  background:#000;
  height:200px;
  overflow:hidden;
  position:relative;
}

#carousel .item {
  background-color:#000;
  background-position:right top;
  background-repeat:no-repeat;
  display:none;
  height:200px;
}

#carousel .item.active, #carousel .item.fading {
  display:block;
}

#carousel .item.fading {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  z-index:3;
}

#carousel .item h2, #carousel .item p {
  margin-left:100px;
  width:240px;
}

#carousel .item.animating h2, #carousel .item.animating p {
  position:relative;
}

#carousel .item h2 {
  color:#b5b6b5;
  padding-top:20px;
}

#carousel .item p {
  color:#8a8989;
  line-height:2em;
}

#carousel a {
  color:#8cc63f;
  text-decoration:none;
  text-transform:uppercase;
}

#carousel .item.bandwidth {
  background-image:url(../images/home/background-bandwidth.jpg);
}

#carousel .item.colocation {
  background-image:url(../images/home/background-colocation.jpg);
}

#carousel .item.equipment {
  background-image:url(../images/home/background-equipment.jpg);
}

#carousel .item.managed-services {
  background-image:url(../images/home/background-managed-services.jpg);
}

#carousel .item.networx {
  background-image:url(../images/home/background-networx.jpg);
}


#left {
  margin-left:10px;
  padding-top:0;
  width:650px;
}

.learn-more {
  color:#677748;
  font-size:11px;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
}

.square-button {
  background-position:center center;
  background-repeat:no-repeat;
  color:#292828;
  display:block;
  float:left;
  font-size:13px;
  height:57px;
  margin-right:7px;
  overflow:hidden;
  padding-top:100px;
  text-align:center;
  text-decoration:none;
  width:157px;
}

.square-button span.learn-more {
  display:block;
  padding-top:10px;
}

.square-button.bandwidth {
  background-image:url(../images/home/button-bandwidth.jpg);
}

.square-button.bandwidth:hover {
  background-image:url(../images/home/button-bandwidth-hover.jpg);
}

.square-button.colocation {
  background-image:url(../images/home/button-colocation.jpg);
}

.square-button.colocation:hover {
  background-image:url(../images/home/button-colocation-hover.jpg);
}

.square-button.equipment {
  background-image:url(../images/home/button-equipment.jpg);
  margin-right:0;
}

.square-button.equipment:hover {
  background-image:url(../images/home/button-equipment-hover.jpg);
}

.square-button.managed-services {
  background-image:url(../images/home/button-managed-services.jpg);
}

.square-button.managed-services:hover {
  background-image:url(../images/home/button-managed-services-hover.jpg);
}

#news, #featured-site {
  background:url(../images/home/background-columns.gif) repeat-x;
  float:left;
  height:308px;
  margin-top:7px;
  padding:5px;
}

#news h3, #featured-site h3 {
  background-color:#4b4b4b;
  color:#fff;
  font-size:12px;
  line-height:26px;
  margin:0;
  padding-left:5px;
  -moz-text-shadow:#000 0 1px 1px;
  text-shadow:#000 0 1px 1px;
}

#news {
  clear:left;
  font-size:11px;
  margin-right:7px;
  width:246px;
}

#news a {
  color:inherit;
  display:block;
  line-height:16px;
  margin:1em 0 1em 10px;
  text-decoration:none;
}

#news b {
  color:#83a445;
}

#featured-site {
  width:376px;
}

#featured-site p {
  font-size:11px;
  line-height:17px;
  margin-left:20px;
  padding-right:10px;
}

#market-container {
  height:242px
}