#menu ul li a span {
  display:block;
  filter:dropshadow(color=#222222, offX=0, offY=-1);
}

#menu ul li ul li a span {
  filter:none;
}

.container h3 span {
  display:block;
  filter:glow(color=#444444, strength=1.5);
}