#logo {
  background-image:none;
}

#logo span {
  display:block;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo.png', sizingMethod='image');
  height:37px;
  margin-top:31px;
  width:366px;
}

#menu ul li:hover a, #menu ul li a:hover {
  zoom:1;
}

#menu ul li a:hover ul {
  top:30px;
  width:198px;
}

#menu ul li a span {
  display:inline;
  zoom:1;
}

#menu ul li ul li {
  zoom:1;
}

#menu ul li ul li a span, #menu ul li ul li a:hover span {
  position:relative;
  zoom:1;
}

#menu ul li a {
  line-height:25px;
}

#menu ul li a img {
  top:4px;
}

#left, #right {
  display:inline;
}

.half input.text {
  width:90% !important;
}

fieldset.collapsible div, fieldset.collapsible table {
  display:none;
}

fieldset.collapsible.toggled div, fieldset.collapsible.toggled table {
  display:block;
}

ul.list a:hover {
  background:#414141;
}

button.button-small .button-right {
  top:0 !important;
}

.button .button-inner {
  background-image:url(../images/ie/background-button-left.gif);
}

.button.small .button-inner {
  background-image:url(../images/ie/background-button-small-left.gif);
}

.button .button-right {
  background-image:url(../images/ie/background-button-right.gif);
}

.button.small .button-right {
  background-image:url(../images/ie/background-button-small-right.gif);
}