#main-top, #main-bottom, #main-middle {
  background-image:none;
  padding:0;
}

#main {
  border:2px solid #ccc;
}

#logo {
  background-image:none;
}

#logo span {
  display:block;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo.png', sizingMethod='image');
  height:46px;
  width:366px;
}

#menu ul li a {
  padding-bottom:1px;
}

#menu ul li a:hover ul {
  width:198px;
}

#menu ul li ul li {
  zoom:1;
}

#menu ul li ul li a span, #menu ul li ul li a:hover span {
  background-image:url(../images/ie/background-dropdown-menu-item.gif);
  zoom:1;
}

#left, #right {
  display:inline;
}

#carousel ul li .carousel-content {
  width:428px;
}

.half input.text {
  width:90% !important;
}

button .button-right {
  top:1px;
}

.button .button-inner {
  background-image:url(../images/ie/background-button-left.gif);
}

.button.small .button-inner {
  background-image:url(../images/ie/background-button-small-left.gif);
}

.button .button-right {
  background-image:url(../images/ie/background-button-right.gif);
}

.button.small .button-right {
  background-image:url(../images/ie/background-button-small-right.gif);
}

#carousel .button .button-inner {
  background-image:url(../images/ie/home/background-button-left.gif);
}

#carousel .button.small .button-inner {
  background-image:url(../images/ie/home/background-button-small-left.gif);
}

#carousel .button .button-right {
  background-image:url(../images/ie/home/background-button-right.gif);
}

#carousel .button.small .button-right {
  background-image:url(../images/ie/home/background-button-small-right.gif);
}

fieldset.collapsible div, fieldset.collapsible table {
  display:none;
}

fieldset.collapsible.toggled div, fieldset.collapsible.toggled table {
  display:block;
}

ul.list a:hover {
  background:url(../images/background-list-item.png) repeat-x;
}