#logo {
  background-image:none;
}

#logo span {
  display:block;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo.png', sizingMethod='image');
  height:37px;
  margin-top:31px;
  width:366px;
}

#menu ul li a:hover ul {
  width:198px;
}

#menu ul li ul li {
  zoom:1;
}

#menu ul li ul li a span, #menu ul li ul li a:hover span {
  background-image:url(../images/ie/background-dropdown-menu-item.gif);
  zoom:1;
}

#left, #right {
  display:inline;
}

.half input.text {
  width:90% !important;
}

fieldset.collapsible div, fieldset.collapsible table {
  display:none;
}

fieldset.collapsible.toggled div, fieldset.collapsible.toggled table {
  display:block;
}

ul.list a:hover {
  background:#414141;
}