/* HTML Elements */
a {
  color:#00f;
  cursor:pointer;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a img {
  border-width:0;
}

body {
  background:#d3d3d3;
  color:#4b4b4b;
  font:12px Arial, sans-serif;
  margin:0;
  padding:0;
  text-align:center;
}

form {
  margin:0;
  padding:0;
}

h1 {
  color:#292828;
  font:normal 19px Arial, sans-serif;
  font-weight:200;
  margin:0 0 30px 0;
}

.bandwidth h1, .colocation h1, .equipment h1, .managed-services h1 {
  background-position:left center;
  background-repeat:no-repeat;
  line-height:45px;
  padding-left:50px;
}

.bandwidth h1 {
  background-image:url(../images/icons/bandwidth.gif);
}

.colocation h1 {
  background-image:url(../images/icons/colocation.gif);
}

.equipment h1 {
  background-image:url(../images/icons/equipment.gif);
}

.managed-services h1 {
  background-image:url(../images/icons/managed-services.gif);
}

h2 {
	color:#036;
  font:bold 18px Arial, sans-serif;
  margin:0 0 10px 0;
}

h2 a {
	color:#5a83a6;
/*	text-decoration:none;*/
}

h2 strong.highlight {
	font-weight:bold;
}

fieldset {
  border:0;
  border-top:2px solid #5a83a6;
  padding:0;
}

fieldset legend {
  cursor:pointer;
  font-size:12pt;
  margin:0;
  padding:0 10px;
}

fieldset legend b {
  color:#5a83a6;
  font:bold 13pt Georgia, Times, 'Times New Roman', serif;
}

ol li, ul li {
  padding:5px;
}

ul {
  list-style-image:url(../images/icons/arrow.gif);
}

ul ul {
  list-style-image:url(../images/icons/arrow-outline.gif);
}

/* Layout */
#main {
  background:#fff url(../images/background-main.jpg) center top no-repeat;
  margin:0 auto;
  text-align:left;
  width:949px;
}

#header {
  height:99px;
  padding:0 31px;
  position:relative;
}

#logo {
  background:url(../images/logo.png) left center no-repeat;
  display:block;
  height:99px;
  width:366px;
}

#search {
  position:absolute;
  right:18px;
  text-align:right;
  top:29px;
}

#search a {
  color:#889b6c;
  display:block;
  margin-bottom:5px;
  text-decoration:none;
}

#search input.search {
  background:#b6b4b4;
  border:1px solid #000;
  border-right-width:0;
  height:13px;
  line-height:13px;
  margin:0;
  outline:none;
  width:150px;
}

#search input.replace {
  color:#666 !important;
}

#search input.replace.replaced {
  color:#000 !important;
}

#search input#search-button {
  border:1px solid #000;
  border-left-width:0;
  position:relative;
  top:4px;
}




#menu {
  background:url(../images/background-menu.png) repeat-x;
  height:31px;
  text-align:center;
}

#menu ul {
  display:inline-block;
  list-style:none;
  list-style-image:none;
  margin:0;
  padding:0 30px;
}

#menu ul li {
  display:inline-block;
  margin:0;
  padding:0;
  position:relative;
  z-index:3;
}

#menu ul li a {
  background:url(../images/background-menu-item-right.gif) right 3px no-repeat;
  color:#fff;
  display:block;
  float:left;
  font:normal 14px Arial, sans-serif;
  line-height:27px;
  padding:0 9px 0 0;
  text-decoration:none;
  -moz-text-shadow:#222 0 1px 1px;
  text-shadow:#222 0 1px 1px;
  z-index:4;
}

#menu ul li a img {
  position:relative;
  top:3px;
}


#menu ul li a span {
  display:block;
  background:url(../images/background-menu-item-left.gif) left 3px no-repeat;
  height:31px;
  padding:0 10px 0 19px;
}

#menu ul li table {
  border-collapse:collapse;
  margin:-1px 0;
}

#menu ul li table td {
  padding:0;
}

#menu ul li ul {
  display:none;
}

#menu ul li:hover ul, #menu ul li a:hover ul {
  background:url(../images/background-dropdown-menu.png);
  border-top-width:0;
  display:block;
  height:auto;
  left:0px;
  padding:0;
  position:absolute;
  top:31px;
  width:200px;
  z-index:5;
}

#menu ul li ul li {
  border-left-width:0;
  display:block;
  margin:0;
  padding:0;
}

#menu ul li ul li a {
  color:#fff;
  float:none !important;
  font:normal 10pt Arial, sans-serif;
  height:17px;
/*  line-height:110%;*/
  padding:5px;
  text-align:left;
}

#menu ul li ul li a, #menu ul li ul li a:hover {
  background-image:none !important;
}

#menu ul li ul li a span {
  display:inline;
  text-align:left;
}

#menu ul li ul li a:hover {
  background-color:#5a83a6;
}

#menu ul li ul li a span, #menu ul li ul li a:hover span {
  background:url(../images/background-dropdown-menu-item.png) right center no-repeat;
  display:block;
  padding-right:48px;
}

#menu ul li ul li ul {
  left:100% !important;
  top:0 !important;
  visibility:hidden;
}

#menu ul li:hover ul li:hover ul,#menu ul li a:hover ul li a:hover ul {
  visibility:visible;
}




#submenu {
  background:url(../images/background-submenu.gif) repeat-x;
  height:31px;
  overflow:hidden;
  text-align:center;
}

#submenu a {
  border-left:1px solid #6e873c;
  color:#fff;
  display:-moz-inline-stack;
  display:inline-block;
  font:normal 12px Arial, sans-serif;
  line-height:32px;
  padding:0 65px;
  text-decoration:none;
  -moz-text-shadow:#222 0 1px 1px;
  text-shadow:#222 0 1px 1px;
}

#submenu a:first-child, #submenu a.first {
  border-left-width:0;
}

#submenu a:hover {
  background:url(../images/background-menu-item.png) repeat-x;
}

#content {
  height:240px;
  padding:5px 0;
}

#main > #content {
  height:auto;
  min-height:240px;
}

#left {
  float:left;
  margin-left:77px;
  padding-top:34px;
  width:560px;
}

#left p {
  line-height:20px;
}

#breadcrumb {
  margin-bottom:1.5em;
}

#right {
  float:right;
  width:281px;
}

#footer {
  background:url(../images/background-footer.png) repeat-x;
  color:#fff;
  font-size:11px;
  line-height:32px;
  padding:0 20px;
}

#footer a {
  color:#fff;
  text-decoration:none;
}

#footer a:hover {
  text-decoration:underline;
}

#copyright {
  font-size:11px``;
  margin:10px auto;
  text-align:left;
  width:929px;
}

/* Non-layout elements */
#data-center-search {
  line-height:35px;
}

#market-container {
  height:400px;
  overflow:auto;
}

/* Classes */
.block {
  display:block !important;
}

.button {
  background:url(../images/background-button.gif) repeat-x;
  border:0;
  border-left:1px solid #698336;
  border-right:1px solid #698336;
  color:#fff;
  cursor:pointer;
  font-size:14px;
  display:-moz-inline-stack;
  display:inline-block;
  line-height:34px;
  margin:0;
	overflow:visible;
  padding:0 19px !important;
  position:relative;
  text-decoration:none !important;
  text-transform:uppercase;
}

.button.small {
  background-image:url(../images/background-button-small.gif);
  font-size:11px;
  font-weight:bold;
  line-height:18px;
}

.button.disabled {
  cursor:wait;
  opacity:0.5;
}

.button::-moz-focus-inner {
  border:none;
  padding:0;
}

.center {
  text-align:center;
}

.checked {
  background:url(../images/icons/check.gif) right center no-repeat;
  padding-right:25px;
}

.clear {
  clear:both;
}

.container {
  margin-bottom:7px;  
}

.container h3 {
  background:url(../images/background-h3.png) repeat-x;
  border:1px solid #3c3c3c;
  border-bottom-width:0;
  color:#fff;
  font:normal 14px Arial, sans-serif;
  line-height:31px;
  margin:0;
  padding:0 0 0 5px;
  text-shadow:#222 0 1px 1px;
}

.container h3 a {
  color:#fff;
  text-decoration:none;
}

.container .inner-container {
  background-color:#eaeaea;
  display:block;
  overflow:hidden;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.field-error {
	background:url(../images/icons/error.gif) left bottom no-repeat;
	color:#c33;
	clear:left;
	display:block;
	font-size:10pt;
	line-height:16px;
	padding:10px 0 0 20px;
}

.go {
  background:url(../images/icons/go.png) right center no-repeat;
}

.half {
  width:50%;
}

.hidden {
  display:none;
}

/* Not REALLY important... */
.important {
	display:none;
}

td.large, .medium {
  color:#000;
  font-size:14pt;
  font-weight:bold;
}

.large .quiet, .medium .quiet {
  color:#000;
}

.medium {
  font-size:12pt;
}

.normal {
  font-weight:normal;
}

.pad {
  padding:10px;
}

.quiet {
  color:#888;
  font-size:8pt;
}

.right {
  text-align:right;
}

.top {
  vertical-align:top;
}

/* Element-specific classes */
fieldset.collapsible  {
  background:none;
  margin:0 0 20px 0;
}

fieldset.collapsible legend {
  color:#888;
}

fieldset.collapsible > div, fieldset.collapsible > table {
  display:none;
}

fieldset.collapsible.toggled {
  background-color:#f0f0f0;
}

fieldset.collapsible.toggled legend {
  color:#444;
}

fieldset.collapsible.toggled > div, fieldset.collapsible.toggled > table {
  display:block;
}

img.float-left {
  margin:0 10px 10px 0;
  -webkit-border-radius:5px;
}

img.float-right {
  margin:0 0 10px 10px;
  -webkit-border-radius:5px;
}

label.block {
  clear:both;
  font-size:8pt;
  font-weight:bold;
  padding:10px 0 5px 0;
}

table.form {
  border-collapse:collapse;
  margin:0;
  padding:0;
  width:100%;
}

table.form td {
  padding:5px 10px;
}

table.form td.column {
  width:253px;
}

table.grid {
  border-collapse:collapse;
}

table.grid, table.grid thead, table.grid tbody {
  width:100%;
}

table.grid tr.row td {
  padding:5px;
}

table.grid tr.row.one {
  background-color:#fff;
}

table.grid tr.row.two {
  background-color:#E5EFF8;
}

ul.list {
  border-bottom:1px solid #767676;
  list-style:none;
  margin:0 0 10px 0;
  padding:0;
}

ul.list li {
  border-bottom:1px solid #f6f6f6;
  border-top:1px solid #767676;
  margin:0;
  padding:0;
}

ul.list li a {
  color:#000;
  display:block;
  line-height:28px;
  padding:0 10px;
  text-decoration:none;
}

ul.list li:hover {
  background:#414141;
  border-bottom-color:#000;
}

ul.list li:hover a, ul.list li a:hover {
  color:#fff;
}

ul.list li:hover a.go, .go:hover {
  background-image:url(../images/icons/go-hover.png);  
}

/* Form elements */
input.text, textarea {
  background:#fff url(../images/background-input.gif) repeat-x;
  border-bottom:1px solid #ddd;
  border-left:1px solid #c3c3c3;
  border-right:1px solid #c3c3c3;
  border-top:1px solid #7d7d7d;
  color:#000;
  padding:3px;
  font:12px 'Lucida Grande', Verdana, Arial, sans-serif;
}

input.text {
  width:240px;
}

input.text.large {
  display:block;
  width:520px;
}

input.text.medium {
  width:180px;
}

input.text.oversized {
/*  font-size:18px;*/
  width:90%;
}

input.half.text.oversized {
  width:200px !important;
}

input.text.small {
  width:94px;
}

input.text.tiny {
  width:50px;
}

input.replace, textarea.replace {
  color:#777 !important;
}

input.replace.replaced, textarea.replace.replaced {
  color:#000 !important;
}

select {
  padding:2px;
}

select.multiple {
  min-height:55px;
  min-width:150px;
}

select.large {
  display:block;
  width:100%;
}

select.small {
  width:50px;
}

span.invalid-field input.text, span.invalid-field textarea {
  border:1px solid #f00;
}

textarea {
  height:75px;
  width:99%;
}

textarea.half {
  height:129px;
  margin-top:2px;
  width:97%;
}

textarea.small {
  height:32px;
  width:180px;
}

/* Notices */
.message { background:#eee url(/images/messages/background-left.gif) left top no-repeat; color:#000; height:25px; font-weight:bold; margin-bottom:10px; overflow:hidden; position:relative; }
.message p { background:url(/images/messages/background-right.gif) right top no-repeat; height:25px; margin:0; padding:5px 10px; }
.message.add .message-icon,.message.cancel .message-icon,.message.delete .message-icon,.message.error .message-icon,.message.notice .message-icon { background-position:5px center; background-repeat:no-repeat; display:block; float:left; height:25px; width:25px; }
.message.add .message-icon { background-image:url(/images/messages/background-add.gif); }
.message.cancel .message-icon { background-image:url(/images/messages/background-cancel.gif); }
.message.delete .message-icon { background-image:url(/images/messages/background-delete.gif); }
.message.error .message-icon { background-image:url(/images/messages/background-error.gif); }
.message.notice .message-icon { background-image:url(/images/messages/background-notice.gif); }
.message.error-list { background:transparent; height:auto; margin-top:0; padding:0; }
.message.error-list p { background:transparent; height:auto; margin:0; padding:0; }
ul.error-list { list-style:circle; margin:0 0 0 45px; padding:0; }