<div style="background-color:#fff; font:10pt 'Verdana', Arial, sans-serif;">
  <div style="border-bottom:2px solid #8CC63F; padding:10px; margin-bottom:15px;">
    <img alt="ColocationXchange" src="http://www.colocationxchange.com/images/logo-email.gif" />
  </div>
