<div style="background-color:#fff; font:10pt 'Verdana', Arial, sans-serif;">
  <%= render :partial => "mail/header" %>
  <p>
    <b>Thank you</b> for contacting ColocationXchange! One of our colocation experts will respond to your request shortly.
  </p>
  <%= render :partial => "mail/footer" %>
</div>
