<div style="background-color:#fff;font:12px 'Lucida Grande',Verdana,Arial,sans-serif;">
  <div style="border-bottom:2px solid #8CC63F;padding-bottom:10px;margin-bottom:15px;"><img alt="FindADataCenter Logo" src="http://www.findadatacenter.com/images/logo.gif" /></div>
  Thank you for your recent request to FindaDataCenter.com. We represent over 1100 data center facilities and 70 network providers across the US and Canada. In order to best assist you with your search, a member of the FindADataCenter.com team will be in contact to discuss your requirements and present you with the best solutions to meet your needs.
  <br /><br />At FindADatacenter.com we are always striving to improve our user experience. Please take a moment to fill out our short five question survey and receive a special gift:
  <br /><br /><a href="http://survey.constantcontact.com/survey/a07e2fviaqcfpzm5oly/a001fqfna0k8/greeting?s=a022k0fdsuh73o">Take the Survey</a>
</div>